<% provide :title, "Elearning-System" %>
<h1>Categories</h1>

<%= will_paginate @categories%>

<ul class="categories">
  <% @categories.each do |category| %>
    <li>
      <%= link_to category.name, category, class: "pull-left" %>
      <%= link_to "Start Lesson", lessons_path(category_id: category.id), :method => :post, class: "btn btn-primary pull-right" %>
    </li>

  <% end %>
</ul>
<%= will_paginate @categories%>
